@import url(fonts.css);
@import url(reset.css);

body {
  background-color: #1e1e1e;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}

/* Шапка сайта */
.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 360px;
  box-sizing: border-box;
  background-color: #000;
  padding: 24px 20px;
}

.header__logo-image {
  width: 78px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__menu-item_active a {
  text-decoration: none;
}

.header__menu-link {
  font-size: 16px;
  color: #f5f5f5;
  line-height: 19.2px;
}

/* Основной контент */
.content-section {
  width: 360px;
  margin: auto;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #000;
  color: white;
}

.content-section_theme_bright {
  background-color: #fee42a;
}

.cover {
  padding: 13px 20px 0px;
  background-image: url(../images/cover.svg);
  background-position: right 0% bottom 0%;
  background-size: 95% auto;
  background-repeat: no-repeat;
}

.cover__title {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 32px 20px 37px;
  color: #ccc;
  font-size: 16px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  letter-spacing: 0.025em;
}

.intro__title {
  line-height: 120%;
  font-size: 16px;
  font-weight: normal;
}

.intro__date {
  line-height: 120%;
  white-space: nowrap;
}

.intro__main-text {
  letter-spacing: 0.025em;
  line-height: 21.6px;
}

.intro__main-text p:first-child {
  padding-bottom: 24px;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px 40px 20px;
}

.content-section__subtitle {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
}

.content-section__introduction {
  font-size: 20px;
  line-height: 27px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 15px;
  padding-right: 20px;
}

.content-section__list-item {
font-size: 16px;
line-height: 21.6px;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards-list  {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;

}
.card {
  padding: 20px 45px 20px 20px;
  border-radius: 30px;
}

.card_text-only {
  padding: 20px 20px 20px 20px;
  border-radius: 30px;
  color: black;
}
.card_text-only > .card__content > .card__text {
  padding-right: 30px;

}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #FEE42A;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px ;
}

.card__author-photo {
  width: 100px;
}

.card__author-name {
  font-weight: 700;
  line-height: 135%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  font-family: "EB Garamond", "Times New Roman", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 135%;
}

.card__text {
  line-height: 21.6px;
}


/* Подвал */
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #FEE42A;
  width: 360px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  background-color: #000;
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
.footer__links>li>a{
  color: white;
  text-decoration: none;
  font-size: 14px;

}

