@import url(fonts.css);
@import url(reset.css);

body {
  background-color: #1e1e1e;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}

/* Шапка сайта */
.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 360px;
  box-sizing: border-box;
  background-color: #000;
  padding: 24px 20px;
}

.header__logo-image {
  width: 78px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.header__menu-item_active a {
  text-decoration: none;
}

.header__menu-link {
  font-size: 16px;
  color: #F5F5F5;
  line-height: 19.2px;
}

/* Основной контент */
.content-section {
  width: 360px;
  margin: auto;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #000;
}

.content-section_theme_bright {
  background-color: #fee42a;
}

.cover {
  padding-bottom: 0px 20px 30px;
}

.intro {
  padding: 40px 20px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

/* Подвал */
.footer {
  width: 360px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  background-color: #000;
}
